In [1]:
#https://levelup.gitconnected.com/pandas-basics-cheat-sheet-2023-python-for-data-science-b59fb7786b4d

import pandas as pd

In [3]:
# Series - One dimensional labeled array

s = pd.Series([3, -5, 7, 4], index = ['a','b','c','d'])
print(s)

a    3
b   -5
c    7
d    4
dtype: int64

In [4]:
# Data Frame - A two dimensional labeled data structure

data = {'Country':['Belgium','India','Brazil'], 'Capital':['Brussels','New Delhi','Brasilia'], 'Population':['111907','1303021','208476']}
print(data)

{'Country': ['Belgium', 'India', 'Brazil'], 'Capital': ['Brussels', 'New Delhi', 'Brasilia'], 'Population': ['111907', '1303021', '208476']}

In [5]:
df = pd.DataFrame(data, columns = ['Country','Capital','Population'])   
print(df)

   Country    Capital Population
0  Belgium   Brussels     111907
1    India  New Delhi    1303021
2   Brazil   Brasilia     208476

In [7]:
# Drop values from rows (axis=0)
print(s.drop(['a','c']))

b   -5
d    4
dtype: int64

In [8]:
# Drop values from columns (axis = 1)
print(df.drop('Country', axis = 1))

     Capital Population
0   Brussels     111907
1  New Delhi    1303021
2   Brasilia     208476